<div
  *ngIf="isSubmitting"
  class="progress-container">
    <p>{{submittingDisplayLabel}}</p>
</div>

<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div *ngFor="let video of videos$ | async"
  class="video-container">
  <video controls
    muted
    autoplay="true"
    src="/media/examples/stream_of_water.webm"
    width="300"
    height="200">
    Sorry, your browser doesn't support embedded videos.
  </video>
  <h4>{{video.title}}</h4>
  <p><strong>Average:</strong> {{video.average}} ({{video.numReviews}})</p>
  <button (click)="initRatingModal($event, video)">Rate it!</button>
</div>

<router-outlet></router-outlet>
