.video-container {
    margin: 2em 1em;
    text-align: center;
}

.progress-container {
    text-align: center;
    width: 100%;
    background-color: mediumturquoise;
    color: #024738;

    p {
        padding: 1em;
    }
}

button {
    background-color: mediumturquoise;
    border-radius: .33em;
    color: #fff;
    font-size: 1em;
    line-height: 2;
    padding: 0 1em;
}