
<h3>{{title}}</h3>

<ng-container *ngIf="isProcessing">
  <p>{{processingDisplayString}}</p>
</ng-container>
<ng-container *ngIf="!isProcessing">
  <ul class="star-rating-list">
    <li *ngFor="let rating of ratings"
      class="star-rating-list__item">
        <ra-rating-button
          [value]="rating.rating"
          [highlight]="rating.highlighted"
          [highlightHalf]="rating.half"
          (ratingClickEvent)="handleRatingClicked($event)"
        ></ra-rating-button>  
    </li>
  </ul>
</ng-container>

<ul>
  <li>
      <button
        class="dismiss-btn"
        [disabled]="isProcessing"
        (click)="handleDismissButtonClick($event)">{{dismissBtnTitle}}</button>
    </li>
    <li>
      <button
        class="affirmative-btn"
        [disabled]="isProcessing"
        (click)="handleAffirmativeButtonClick($event)">{{affirmativeBtnTitle}}</button>
    </li>
</ul>
