:host {
    display: block;
    text-align: center;
}

ul {
    padding: 0;
    &.star-rating-list {
        margin: .5em 0 2em 0;
    }
    li {
        display: inline-block;
        padding: 0 .25em;
    }
}

button {
    border-radius: .33em;
    color: #fff;
    font-size: 1.3em;
    line-height: 2.25;
    padding: 0 1em;

    &.affirmative-btn {
        background-color: mediumturquoise;
    }
    &.dismiss-btn {
        background-color: paleturquoise;
        color: darkslategrey;
    }
}